* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.clearfix{
    content: "";
    clear: both;
    display: table;
}

#wrapper{
    background-color: black;
    height: calc(100vh - 100px) ;
  
}

/* aside */

aside{
    float: left;
    background-color: blue;
    width: 250px;
    height: 100%;
    /* display: flex;
    align-items: flex-end;  */
}

.account{
    display: flex;
    align-items: flex-end;
} 


.aside_tool{
    background-color: tomato;
    border: solid 1px black;
    width:250px;
    height:100px;
}

/* main */

main{
    float: left;
    background-color: brown;
    width: calc(100% - 250px);
    height: 100%;
    overflow: scroll;
}

.button_side{
    width: 100% ;
    height: 100px;
    background-color: violet;
    border: solid 1px black;
}

button{
    background-color: black;
    width: 250px;
    padding: 15px;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    float: right;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
}

.nav_main{
    width: 100% ;
    height: 60px;
    background-color: rgb(70, 23, 70);
    border: solid 1px black;
}

.nav_main ul li{
    display: inline-block;
    color:lightgray;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}

.nav_main ul li:hover{
    color: white;
}

ul{
    text-align: center;
}

.underline{
    text-decoration: underline solid greenyellow 3px;
}

.title{
    font-size: 30px;
}

.played-main{
    width: 100%;
    height: 300px;
    margin: 10px;
    background-color: rgb(160, 219, 66);
    border: solid 1px black;
}

.play{
    background-color: darkgray;
    margin: 10px 10px 10px 0;
    width: 19%;
    height:70%;
    float: left;
}
/* player */

#player{
    background-color: yellow;
    height: 100px;
    display: flex;
    justify-content: space-between;

}

.sx{
    background-color: white;
    border: solid 1px black;
    width: 100px;
    height: 100px;
}

