* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow: hidden;
}

#wrapper{
    background-color: black;
    height: calc(100vh - 100px) ;
  
}

/* aside */

aside{
    float: left;
    background-color:rgba(0,0,0,255);
    width: 250px;
    height: 100%;
    
}

.home_section{
    padding: 10px;
}

.logo{
    background-color: black;
    width:250px;
    height:80px;
    display: flex;
    justify-content: flex-start;
}

.spotify{
    width: 50%;
    /* cursor: pointer; */
}

.io{
    background-color:rgba(0,0,0,255);
    /* border: solid 1px black; */
    width:250px;
    height:150px;
}
#pip{
    border-left: 2px solid #adff2f;
}
.home{
    width: 15%;
    display: flex;
    /* cursor: pointer; */
}

.text_line{
    display: flex;
}


.home_text{
    color: grey;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}
             /* sezione playlist */

.playlist{
    background-color: rgba(0,0,0,255);
    /* border: solid 1px black; */
    width:250px;
    height:400px;
}

.home_imgio {
    color:grey;
    font-size: 35px;
    /* cursor: pointer;   */
}

.spotify, .home_imgio, .home, li, .app_text, button, .line_{
    cursor: pointer;
}


.home_text:hover, .home_imgio:hover, li:hover, .app_text:hover, .fa-play-circle:hover{
    color: white;
}


.home_img_app{
    background-color: grey;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

.home_text_app{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}

li{
    font-size: 15px;
    font-weight: bold;
    color: gray;
    list-style-type: none;
    line-height: 35px;
    /* cursor: pointer; */
}

.app{
    color:grey;
    font-size: 10px;
}

.app_text{
    color: grey;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
    /* cursor: pointer; */
}



              /* sezione account */
.account{
    /* background-color: tomato;
    border: solid 1px black; */
    width:250px;
    height:100px;
    /* position:fixed; */
}

/* main */

main{
    float: left;
    background-color:rgba(20,25,34,255);
    width: calc(100% - 250px);
    height: 100%;
    overflow-y: scroll;
}

.button_side{
    width: 100% ;
    height: 100px;
    background-color: rgba(8,11,18,255);
}

button{
    background-color: black;
    width: 250px;
    padding: 15px;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    float: right;
    margin-top: 20px;
}

button:hover{
    transform: scale(1.1);
}

.nav_main{
    width: 100% ;
    height: 60px;
    /* background-color: rgb(70, 23, 70); */
    /* border: solid 1px black; */
}

.nav_main ul li{
    display: inline-block;
    color:lightgray;
    padding: 5px;
    font-size: 15px;
    /* cursor: pointer; */
}

.nav_main ul li:hover{
    color: white;
} 

ul{
    text-align: center;
}

.underline{
    text-decoration: underline solid #adff2f 3px;
}

.title{
    color: white;
    font-size: 30px;
}

.played-main{
    width: 100%;
    height: 400px;
    margin: 10px;
    /* background-color: rgb(160, 219, 66);
    border: solid 1px black; */
}

.played-main h5{
    color: grey;
}

.play{
    /* background-color: darkgray; */
    margin: 10px 10px 10px 0;
    width: 15%;
    height:50%;
    float: left;
    position: relative;
}

.play:hover{
    opacity:20%;
    transition: 1s;
    
}
.fa-play-circle:hover{
    color: white;
}
.icon {
    color:transparent;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.play:hover .overlay {
    opacity: 1;
  }

#one{
    background-image:url(img/metal_lifting.jpg);
}
#two{
    background-image: url(img/stranger.jpeg);
}
#three{
    background-image: url(img/aquietplace.jpeg);
}
#four{
    background-image: url(img/split.jpeg);
}
#five{
    background-image: url(img/cure.jpeg);
}
#six{
    background-image: url(img/sinister.jpeg);
}
#seven{
    background-image: url(img/radar.jpeg);
}
#eight{
    background-image: url(img/mixdaily.jpeg);
}
#nine{
    background-image: url(img/youg.jpeg);
}
#ten{
    background-image: url(img/einaudi.jpeg);
}


.pics{
    width: 100%;
    height: 100%;
    background-size: cover; 
}

.pics_circle{
    width: 100%;
    height: 100%;
    background-size: cover; 
    border-radius: 50%;
}

.pics_text{
    margin-top: 15px;
    text-align: center;
    color: white;
    line-height: 25px;
}
.pics_text h6{
    color: grey;
}

/* player */

#player{
    background-color:rgba(40,40,40,255);
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.sx{
    /* background-color: rgba(40,40,40,255); */
    /* border: solid 1px black; */
    width: 300px;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.img_sx{
    width: 50px;
    height: 50px;
}

.text_sx{
    color:white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

.ce{
    /* background-color: rgba(40,40,40,255);
    border: solid 1px black; */
    width: 500px;
    height: 100px;
}
.player_icon{
    color: white;
    text-align: center;
    letter-spacing: 5px;
    padding: 10px;
    font-size: 25px;
}


.dx{
    /* background-color: rgba(40,40,40,255);
    border: solid 1px black; */
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
}

.player_icon_dx{
    color: white;
    letter-spacing: 5px;
    padding: 10px;  
}

.player_icon_sx{
    color: grey;
}

.player_icon_sx:hover{
    color: white;
}


.light, .grey{float:left; height:3px;}

.light{
    background:lightgrey;
    width: 10px;
}
.light:hover{
    background-color: #adff2f;
}
.grey{
    background:grey;
    width: 50px;
}

.light_ce, .grey_ce{
    float:left;
    height:3px;
    margin-top: 10px;
}

.light_ce{
    background:lightgrey;
    width: 70px;
}
.light_ce:hover{
    background-color: #adff2f;  
}

.grey_ce{
    background:grey;
    width: 400px;
}
.time{
    color: white;
    font-size: 10px;
    font-weight: bold;
    margin-left: 10px;
}


.img_sx, .text_sx, .player_icon, .player_icon_sx, .player_icon_dx{
    cursor: pointer;
} 

/* Responsive */

@media all and (max-width:780px) {
    
    aside{
        width: 5%;
    }

    .account{
        margin-top: 340px;
    }
    .app_text, .bord, .app, .line_{
        display: none;
    }

    .nav_main{
        width: 70%;
        margin:auto;
    }


    /* sezione wrapper */
    #wrapper{
        width: 125%;
    }

    .playlist{
        display:none;
    }
    .played-main{
        /* width:80%; */
    }
    .title{
        margin-top: 40px;
    }
    .play{
        width: 48%;
        margin-bottom: 20%;
        margin-top: 10%;
    }
    .pics{
        margin-top: 30px;
        height: 350px;
    }
    .pics_circle{
        margin-top: 30px;
        width:75%;
        height: 100%;
    }
    .pics_text{
        margin-left: -50px;
    }

    .overlay{
        margin-top: -90px;
    }

    .overlay_ i{
        margin-top: 100px;
        margin-right: 70px;
    }
    .title_, h5{
        display: none;
    }

    
  }